<div class="container">

  <h1>Hello algocoin team !</h1>
  <p>C'est ici que tout va se paser, hiha !</p>
  <p>Sur la home page, ici donc, je vais mettre une to-do list que je vais faire avancer pour que vous sachiez ce que je fais.</p>
  <p>Et en back il va se passer plein de choses... Mais bon d'ici à ce qu'on puisse le visualiser ça va prenre un peu de temps.</p>



  <h2>To do list</h2>
  <ul>
    <li>Créer les modèles de duos et trios</li>
    <li>Créer des relationships entre models</li>
    <li>Seed les modèles de duos et trios</li>
    <li>Créer les modèles OrderBook</li>
    <li>Mettre en place le worker pour les OrderBook</li>
    <li>Créer le modèle Arbitrage</li>
    <li>Modifier le précédent worker pour ajouter les arbitrages</li>
    <li>Mettre en place un accès avec account à l'app</li>
    <li>Faire de la data viz pour les résultats des arbitrages ou mettre en place des exports csv</li>
  </ul>

  <h2>Done !</h2>
  <ul>
    <li>Créer une app Rails</li>
    <li>La déployer sur Heroku</li>
    <li>Installer Bootstrap</li>
    <li>Créer un modèle de Currencies</li>
    <li>Seed la base des currencies</li>
  </ul>


</div>
